<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div th:replace="~{fragments/auth-layout :: authLayout}">
    <div th:fragment="section">
        <h2>Login</h2>

        <form th:action="@{/login}" method="post" class="auth-form">
            <div class="form-row">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="auth-actions">
                <a th:href="@{/auth/register}" role="button" class="btn btn-secondary"><span>Register</span></a>
                <button type="submit" role="button" class="btn btn-secondary">Login</button>
            </div>
        </form>

        <div th:if="${param.error}">
            <p class="error">Invalid username or password</p>
        </div>

        <div th:if="${param.logout}">
            <p class="" style="color: #34d399">You have been logged out</p>
        </div>

        <div th:if="${param.registered}">
            <p class="" style="color: #34d399">Registration successful. Please log in with your new account.</p>
        </div>
    </div>
</div>
</body>
</html>