<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout successful</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        .container {
            border: 1px solid #ddd;
            display: inline-block;
            padding: 20px;
            border-radius: 8px;
        }

        .login-link {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Thanks for visiting!</h2>
    <hr>
    <a th:href="@{/login}" class="login-link">Click here to login.</a>
</div>
</body>
</html>